<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h2 th:text="'게시물 상세 페이지'"></h2>

    <div>
        <label for="writer" th:text="작성자"></label>
        <input type="text" id="writer" th:field="${boardDto.writer}" readonly>
    </div>

    <div>
        <label for="title" th:text="제목"></label>
        <input type="text" id="title" th:field="${boardDto.title}" readonly>
    </div>

    <div>
        <label for="content" th:text="내용"></label>
        <input type="text" id="content" th:field="${boardDto.content}" readonly>
    </div>

    <button th:if="${loginMemberId==boardDto.memberId}" th:text="수정" type="button"
            th:onclick="|location.href='@{/boards/{boardId}/edit(boardId=${boardDto.boardId})}'|"></button>
    <button th:if="${loginMemberId==boardDto.memberId}" th:text="삭제" type="button"
            th:onclick="|location.href='@{/boards/{boardId}/delete(boardId=${boardDto.boardId})}'|"></button>
    <button th:text="뒤로" type="button"
            th:onclick="|location.href='@{/boards}'|"></button>

</body>
</html>